[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pandas = "*"
ipython = "*"
jupyter = "*"
nltk = "*"
unidecode = "*"
scipy = "*"

[requires]
python_version = "3.5"
